@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400&display=swap");

:root {
  --background-color: rgba(160, 184, 163, 1);
  --main-color: rgba(227, 236, 220, 1);
  --button-color: rgba(206, 196, 225, 1);
  --font-color: rgb(19, 19, 19);
  --header-color: rgb(230, 230, 230);
  --card-color: rgba(177, 201, 179, 1);
}

h1 {
  font-family: "Arial Rounded MT Bold", Arial, sans-serif;
  font-size: 1.5rem;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}
h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
}

p {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-size: 0.75rem;
}

button {
  font-family: "Poppins", sans-serif;
  background-color: var(--button-color);
  border: solid rgb(121, 119, 120) 1px;
  border-radius: 0.5rem;
  padding: 5px 12px 5px 7px;

  display: inline-flex;
  align-items: center;
  gap: 8px;
}

button:hover {
  background-color: rgb(216, 188, 248);
}

button:active {
  transform: scale(0.98);
  background-color: rgb(152, 136, 180);
}

button::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url("Images/Paw.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

body {
  background-color: var(--background-color);
}

form {
  display: flex;
  flex-direction: column;
  width: 200px;

  gap: 1rem;
}

#wrapper {
  display: flex;
  flex-direction: column;

  justify-self: center;
  min-width: 60vw;
  max-width: 60vw;
}

#content {
  min-width: 60vw;

  min-height: 600px;
  border-radius: 6px;
  min-height: 80vh;
  max-height: fit-content;
  padding: 1rem;

  background-color: var(--main-color);
  align-self: center;
  border: solid rgb(119, 133, 119) 1px;
}

.wrapper-form {
  display: flex;
  flex-direction: column;
  justify-self: center;

  form {
    margin-top: 2rem;
    margin-bottom: 2rem;
    justify-self: center;
  }

  button {
    align-self: center;
    margin-bottom: 1rem;
  }
}

.card {
  background-color: var(--card-color);
  width: 140px;
  padding: 8px;
  border-radius: 6px;
}

.card:hover {
  background-color: var(--background-color);
}

.card-booked {
  background-color: var(--button-color);
  width: 140px;
  padding: 8px;
  border-radius: 6px;
}

.card-booked:hover {
  background-color: rgb(205, 180, 250);
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3vw;
  justify-content: center;
  justify-self: center;
  align-self: center;
  padding: 20px;
}

.details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 2rem;

  figure {
    width: 30vw;
    margin-right: 1rem;
  }

  justify-self: center;
}

.details-info {
  p {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

#contact {
  display: flex;
  flex-direction: column;
}

#social-media {
  display: flex;
  gap: 10px;
}

#social-media figure img {
  width: 30px;
  height: auto;
}

.manage {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 1rem;
}

.manage-item {
  padding: 0.2rem;
  border-radius: 8px;
  background-color: var(--card-color);

  text-align: center;
}

.manage-item button {
  margin: 0.5rem;
}

.manage-item h2 {
  margin-bottom: 1rem;
}

@media (max-width: 880px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }

  #wrapper {
    display: flex;
    flex-direction: column;

    justify-self: center;
    min-width: 90vw;
    max-width: 60vw;
  }

  #content {
    min-width: 90vw;
    max-width: 90vw;
    min-height: 600px;
    border-radius: 6px;
    max-height: fit-content;
    padding: 1rem;

    background-color: var(--main-color);
    align-self: center;
  }

  .card {
    background-color: var(--card-color);
    width: 140px;
    padding: 8px;
    border-radius: 6px;
  }
  .card-booked {
    background-color: var(--button-color);
    width: 140px;
    padding: 8px;
    border-radius: 6px;
  }

  .details {
    display: flex;
    flex-direction: column;
    justify-self: center;
    padding: 2rem;

    figure {
      width: 80vw;
      margin: auto;
    }
  }

  .details-info {
    display: flex;
    flex-direction: column;
    h1 {
      justify-self: center;
    }

    p {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }

    button {
      align-self: flex-end;
    }
  }

  .manage {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 600px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* For Large Screens*/

@media (min-width: 1200px) {
  .card {
    background-color: var(--card-color);
    width: 180px;
    padding: 8px;
    border-radius: 6px;
  }
  .card-booked {
    background-color: var(--button-color);
    width: 180px;
    padding: 8px;
    border-radius: 6px;
  }
}
